@font-face {
    font-family: 'Cleanvertising-b'; /* Имя шрифта */
    src: url(../fonts/CLEANVEB.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Cleanvertising-l'; /* Имя шрифта */
    src: url(../fonts/CLEANVEL.TTF); /* Путь к файлу со шрифтом */
}

// @import "http://fonts.fontstorage.com/import/cleanvertising.css";
