@import 'variables';

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
  .last_block {
    .form {
      .uk-fieldset {
        div {
          width: 450px;
          padding-left: 0px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navigation {
     display: flex;
   }
  .navigation-button {
    display: none;
  }
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1150px;
  }
}