$main-color : #2B5077;
$text-color: #FCFCFC;
$third-color: #3A6997;
$forth-color: #A49D9B;
$fifth-color: #5E8EBA;
$sixth-color: #D1D2D3;
$buttons-color: #72ace5;

$main-fontl: "Cleanvertising-l", sans-serif, cursive;
$main-fontb: "Cleanvertising-b", sans-serif, cursive;

$lighter-color: rgba(94, 142, 186, 0.67);
