@import 'fonts';
@import 'variables';
@import 'mixins';

html {
    font-family: $main-fontl;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: $main-fontl;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.inputs {
    border-radius: 3px;
}
.cover {
    position: relative;
	background-image: url(../img/header-image.jpg);
	height: 607px;
    .color-cover {
        background-color: $lighter-color;
        height: 100%;
        padding: 23px;
        .main_text {
            .main_text_block {
                    max-width: 600px;
                h1 {
                    font-family: $main-fontl;
                    font-size: 54px;
                }
            }
            .head_form {
                position: relative;
                width: 320px;
                margin-left: calc(50% - 160px);
                .buttons {
                    border-radius: 3px;
                    background-color: $buttons-color;
                    color: $text-color;
                    &:hover {
                        background-color: $buttons-color + 20; 
                    }
                }
            }
        }
    }
    .logo {
        font-family: $main-fontl;
        font-size: 28px;
        margin-left: 180px;
    }
   
}

 .navigation {
        margin-right: 200px;
    }

//ALWAYS END
@import 'media';