@import 'fonts';
@import 'variables';
@import 'mixins';

html {
    font-family: $main-fontl;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: $main-fontl;
	overflow-x: hidden;
}
p,h1,h2,h3,h4,h5,h6,button,a,li,html,body,div {
    font-family: $main-fontl;
}
.hidden {
	display: none;
}
.inputs {
    border-radius: 3px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.cover {
    position: relative;
	background-image: url(../img/header-image.jpg);
	height: 607px;
    .color-cover {
        background-color: $lighter-color;
        height: 561px;
        padding: 23px;
        .main_text {
            .main_text_block {
                    max-width: 600px;
                h1 {
                    font-family: $main-fontl;
                    font-size: 54px;
                }
            }
            .head_form {
                position: relative;
                width: 320px;
                margin-left: calc(50% - 160px);
                .buttons {
                    border-radius: 3px;
                    background-color: $buttons-color;
                    color: $text-color;
                    &:hover {
                        background-color: $buttons-color + 20; 
                    }
                }
            }
        }
    }
    .logo {
        font-family: $main-fontl;
        font-size: 28px;
        margin-left: 20px;
    }
   
}
/*About me block*/
.about_container {
    background-color: $text-color;
    border-bottom: 1px solid rgba(128, 128, 128, 0.21);
}
.about_me {
//    height: 500px;
    .about_me_text {
        margin-top: 70px;
    }
    .about_me_btn {
        background-color: $text-color;
        color: $buttons-color;
        border: 1px solid $buttons-color;
        border-radius: 3px;
        &:hover {
            background-color: $buttons-color;
            color: $text-color;
            border: 1px solid $buttons-color;
            transition: .5s;
        }
    }
    .man_image_block {
        position: relative;
    }
    .circle1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 80%;
        border: 3px solid $main-color;
        border-radius: 50%;
        left: 39px;
        top: 128px;
        opacity: 0.4;
        z-index: 1;
        .circle2 {
            width: 75%;
            height: 75%;
            border: 3px solid $main-color;
            border-radius: 50%;
            margin-left: 50px;
            margin-top: 50px;
            opacity: 0.5;
            .circle3 {
                width: 70%;
                height: 70%;
                border: 3px solid $main-color;
                border-radius: 50%;
                margin-left: 45px;
                margin-top: 50px;
                opacity: 0.6;
            }
        }
    }
    .man_image {
        position: relative;
        z-index: 2;
    }
}

.blog {
    position: relative;
    background-color: white;
    z-index: 2;
    min-height: 300px;
    .stripes {
        position: absolute;
        bottom: 0;
    }
}

/*Twitter*/
.twitter {
    background-color: $text-color - 3;
    padding: 40px 0;
}

/*Last block*/
.last_block {
    background-image: url(../img/footer-image.jpg);
    min-height: 200px;
    padding: 50px;
    position: relative;
    .play {
        top: 10%;
        color: $text-color;
    }
    .last_block_text {
        max-width: 400px;
        h3 {
            color: $text-color;
        }
        .buttons {
                    border-radius: 3px;
                    background-color: $buttons-color;
                    color: $text-color;
                    &:hover {
                        background-color: $buttons-color + 20; 
                    }
                }
    }
}

/*Footer*/
.footer {
    background-color: $main-color;
    border-top: 1px solid rgba(67, 66, 66, 0.26);
    min-height: 30px;
    color: $text-color;
    padding: 20px;
    .container {
        p {
            font-family: $main-fontl;
            .email {
                margin-left: 40px;
            }
            a {
                margin-left: 5px;
            }
        }
    }
}
 .navigation {
        margin-right: 100px;
    }

//ALWAYS END
@import 'media';