@charset "UTF-8";
@import "http://fonts.fontstorage.com/import/cleanvertising.css";
@font-face {
  font-family: 'Cleanvertising-b';
  /* Имя шрифта */
  src: url(../fonts/CLEANVEB.TTF);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'Cleanvertising-l';
  /* Имя шрифта */
  src: url(../fonts/CLEANVEL.TTF);
  /* Путь к файлу со шрифтом */ }

html {
  font-family: "Cleanvertising-l", sans-serif, cursive; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Cleanvertising-l", sans-serif, cursive;
  overflow-x: hidden; }

p, h1, h2, h3, h4, h5, h6, button, a, li, html, body, div {
  font-family: "Cleanvertising-l", sans-serif, cursive; }

.hidden {
  display: none; }

.inputs {
  border-radius: 3px; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.cover {
  position: relative;
  height: 607px; }
  .cover .color-cover {
    background-color: rgba(94, 142, 186, 0.67);
    height: 561px;
    padding: 23px; }
    .cover .color-cover .main_text .main_text_block {
      max-width: 600px; }
      .cover .color-cover .main_text .main_text_block h1 {
        font-family: "Cleanvertising-l", sans-serif, cursive;
        font-size: 54px; }
    .cover .color-cover .main_text .head_form {
      position: relative;
      width: 320px;
      margin-left: calc(50% - 160px); }
      .cover .color-cover .main_text .head_form .buttons {
        border-radius: 3px;
        background-color: #72ace5;
        color: #FCFCFC; }
        .cover .color-cover .main_text .head_form .buttons:hover {
          background-color: #86c0f9; }
  .cover .logo {
    font-family: "Cleanvertising-l", sans-serif, cursive;
    font-size: 28px;
    margin-left: 20px; }

/*About me block*/
.about_container {
  background-color: #FCFCFC;
  border-bottom: 1px solid rgba(128, 128, 128, 0.21); }

.about_me .about_me_text {
  margin-top: 70px; }

.about_me .about_me_btn {
  background-color: #FCFCFC;
  color: #72ace5;
  border: 1px solid #72ace5;
  border-radius: 3px; }
  .about_me .about_me_btn:hover {
    background-color: #72ace5;
    color: #FCFCFC;
    border: 1px solid #72ace5;
    transition: .5s; }

.about_me .man_image_block {
  position: relative; }

.about_me .circle1 {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  border: 3px solid #2B5077;
  border-radius: 50%;
  left: 39px;
  top: 128px;
  opacity: 0.4;
  z-index: 1; }
  .about_me .circle1 .circle2 {
    width: 75%;
    height: 75%;
    border: 3px solid #2B5077;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
    opacity: 0.5; }
    .about_me .circle1 .circle2 .circle3 {
      width: 70%;
      height: 70%;
      border: 3px solid #2B5077;
      border-radius: 50%;
      margin-left: 45px;
      margin-top: 50px;
      opacity: 0.6; }

.about_me .man_image {
  position: relative;
  z-index: 2; }

.blog {
  position: relative;
  background-color: white;
  z-index: 2;
  min-height: 300px; }
  .blog .stripes {
    position: absolute;
    bottom: 0; }

/*Twitter*/
.twitter {
  background-color: #f9f9f9;
  padding: 40px 0; }

/*Last block*/
.last_block {
  background-image: url(../img/footer-image.jpg);
  min-height: 300px;
  padding: 50px;
  position: relative; }
  .last_block .form .uk-fieldset div {
    width: 204px;
    padding-left: 75px; }
  .last_block .play {
    top: 10%;
    color: #FCFCFC; }
  .last_block .last_block_text {
    max-width: 400px;
    color: #FCFCFC; }
    .last_block .last_block_text h3 {
      color: #FCFCFC; }
    .last_block .last_block_text .buttons {
      border-radius: 3px;
      background-color: #72ace5;
      color: #FCFCFC; }
      .last_block .last_block_text .buttons:hover {
        background-color: #86c0f9; }

/*IFRAME*/
.iframe {
  width: 100%;
  min-height: 350px; }

/*Footer*/
.footer {
  background-color: #2B5077;
  border-top: 1px solid rgba(67, 66, 66, 0.26);
  min-height: 30px;
  color: #FCFCFC;
  padding: 20px; }
  .footer .container p {
    font-family: "Cleanvertising-l", sans-serif, cursive; }
    .footer .container p .email {
      margin-left: 40px; }
    .footer .container p a {
      margin-left: 5px; }

.navigation {
  margin-right: 100px;
  display: none; }

.navigation-button {
  display: block;
  margin: 30px; }

@media (min-width: 768px) {
  .container {
    width: 730px; }
  .last_block .form .uk-fieldset div {
    width: 406px;
    padding-left: 0px; } }

@media (min-width: 992px) {
  .navigation {
    display: flex; }
  .navigation-button {
    display: none; }
  .container {
    width: 950px; } }

@media (min-width: 1200px) {
  .container {
    width: 1150px; } }
