@charset "UTF-8";
@import "http://fonts.fontstorage.com/import/cleanvertising.css";
@font-face {
  font-family: 'Cleanvertising-b';
  /* Имя шрифта */
  src: url(../fonts/CLEANVEB.TTF);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'Cleanvertising-l';
  /* Имя шрифта */
  src: url(../fonts/CLEANVEL.TTF);
  /* Путь к файлу со шрифтом */ }

html {
  font-family: "Cleanvertising-l", sans-serif, cursive; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Cleanvertising-l", sans-serif, cursive;
  overflow-x: hidden; }

.hidden {
  display: none; }

.inputs {
  border-radius: 3px; }

.cover {
  position: relative;
  background-image: url(../img/header-image.jpg);
  height: 607px; }
  .cover .color-cover {
    background-color: rgba(94, 142, 186, 0.67);
    height: 100%;
    padding: 23px; }
    .cover .color-cover .main_text .main_text_block {
      max-width: 600px; }
      .cover .color-cover .main_text .main_text_block h1 {
        font-family: "Cleanvertising-l", sans-serif, cursive;
        font-size: 54px; }
    .cover .color-cover .main_text .head_form {
      position: relative;
      width: 320px;
      margin-left: calc(50% - 160px); }
      .cover .color-cover .main_text .head_form .buttons {
        border-radius: 3px;
        background-color: #6193C4;
        color: #FCFCFC; }
        .cover .color-cover .main_text .head_form .buttons:hover {
          background-color: #75a7d8; }
  .cover .logo {
    font-family: "Cleanvertising-l", sans-serif, cursive;
    font-size: 28px;
    margin-left: 180px; }

.navigation {
  margin-right: 200px; }
